*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --acc-h: 150px;
    --acc-w: 425px;
    --320acc-h: 200px;
    --320acc-w: 810px;
    --border-r: 20px;
    
    --insta-c: pink;
    --light-yellow: #f9dc5c;
    --light-blue: skyblue;
    --light-brown: #CA8F79;
    --purple-c: #6917d0;
    --light-green:  #1FD762;
    --grey-c: #5A5859;
    --green-c: #679334;
    --light-purple: #5B65F3;
}

.effect:hover{
        border: 1px solid #000;
        box-shadow: 8px 8px 0px 0px #625D5D;
        background: none;
}

.pass-title{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: 10px 0px 10px 0px; 
}

.pass1{background: var(--insta-c);border-radius: var(--border-r);}    

.pass2{background: var(--insta-c);border-radius: var(--border-r);}

.pass3{background: var(--insta-c);border-radius: var(--border-r);}

.pass4{background: var(--insta-c);border-radius: var(--border-r);}

.pass5{background: var(--insta-c);border-radius: var(--border-r);}

.pass6{background: var(--light-yellow);border-radius:var(--border-r);}
    
.pass7{background: var(--light-blue);border-radius: var(--border-r);}

.pass8{background: var(--light-blue);border-radius: var(--border-r);}
    
.pass9{background: var(--light-brown);border-radius: var(--border-r);}
    
.pass10{background: var(--purple-c);border-radius: var(--border-r);}
    
.pass11{background: var(--light-yellow);border-radius: var(--border-r);}
    
.pass12{background: var(--light-green);border-radius: var(--border-r);}
    
.pass13{background: var(--light-yellow);border-radius: var(--border-r);}
    
.pass14{background: var(--grey-c);border-radius: var(--border-r);}
    
.pass15{background: var(--green-c);border-radius: var(--border-r);}
    
.pass16{background: var(--light-purple);border-radius: var(--border-r);}

@media (min-width:320px)  {

    .container{
        margin: 40px auto;
        height: 143vh;
        width: 850px;
    }
    
    .pm-title{margin: 40px 0px 50px 300px;}

    .password-container{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: minmax(200px, auto);
	gap: 20px;
    }

    .pass-username{margin: 0px 0px 10px 10px;font-size: 50px;}
    
    .name{font-size: 25px;padding-right: 5px;}
    
    .pass-password{margin-left: 10px;font-size: 30px;}
    
    .key{font-size: 19px;padding-right: 5px;}
    
    .pass1{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 1;
	margin-left: 20px;
    }
    .pass2{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 2;
	margin-left: 20px;
    }

    .pass3{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 3;
	margin-left: 20px;
    }
    .pass4{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 4;
	margin-left: 20px;
    }
    .pass5{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 5;
	margin-left: 20px;
    }
    .pass6{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 6;
	margin-left: 20px;
    }

    .pass7{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 7;
	margin-left: 20px;
    }
    .pass8{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 8;
	margin-left: 20px;
    }
    .pass9{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 9;
	margin-left: 20px;
    }
    .pass10{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 10;
	margin-left: 20px;
    }

    .pass11{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 11;
	margin-left: 20px;
    }
    .pass12{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 12;
	margin-left: 20px;
    }
    .pass13{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 13;
	margin-left: 20px;
    }
    .pass14{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 14;
	margin-left: 20px;
    }

    .pass15{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 15;
	margin-left: 20px;
    }
    .pass16{
        height: var(--320acc-h);
        width: var(--320acc-w);
        grid-column: 1;
        grid-row: 16;
	margin: 0px 0px 20px 20px;
    }    
}


@media (min-width:480px)  {
    
    .container{
        margin: 40px auto;
        height: 85vh;
        width: 850px;
	border-radius: 50px;
        box-shadow:  -5px 5px 10px #625D5D,
		     5px -5px 10px #625D5D;
	overflow-y: scroll;
	scroll-behavior: smooth;
    }

    .pass-username{margin: 0px 0px 10px 10px;font-size: 40px;}
    
    .name{font-size: 30px;padding-right: 5px;}
    
    .pass-password{margin-left: 10px;font-size: 35px;}
    
    .key{font-size: 30px;padding-right: 5px;}
    
    .pm-title{color: #000;margin: 40px 0px 50px 260px;}
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {
    .container{
        margin: 40px auto;
        height: 850px;
        width: 1850px;
        border-radius: 50px;
        box-shadow:  -5px 5px 10px #625D5D,
		     5px -5px 10px #625D5D;
    }
    .container::-webkit-scrollbar {display: none;}

    .pass-username{margin: 0px 0px 10px 10px;font-size: 25px;}
    
    .name{font-size: 25px;padding-right: 5px;}
    
    .pass-password{margin-left: 10px;font-size: 19px;}
    
    .key{font-size: 19px;padding-right: 5px;}
    
    .pm-title{color: #000;margin: 25px 0px 36px 800px;}
    
    .password-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(180px, auto);
        margin: 0px 20px 0px 20px;
    }

    .pass1{
        height: var(--acc-h);
        width: var(--acc-w);
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    .pass2{
        height: var(--acc-h);
        width: var(--acc-w);
        grid-column: 2 / 4;
        grid-row: 1;
    }
    
    .pass3{
        height: 150px;
        width: 425px;
        grid-column: 3 / 4;
        grid-row: 1;
    }
    
    .pass4{
        height: 150px;
        width: 425px;
        grid-column: 4 / 4;
        grid-row: 1;
    }
    
    .pass5{
        height: 150px;
        width: 425px;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    
    .pass6{
        height: 150px;
        width: 425px;
        grid-column: 2 / 4;
        grid-row: 2;
    }
    
    .pass7{
        height: 150px;
        width: 425px;
        grid-column: 3 / 4;
        grid-row: 2;
    }
    
    .pass8{
        height: 150px;
        width: 425px;
        grid-column: 4 / 4;
        grid-row: 2;
    }
    
    .pass9{
        height: 150px;
        width: 425px;;
        grid-column: 1 / 4;
        grid-row: 3;
    }
    
    .pass10{
        height: 150px;
        width: 425px;
        grid-column: 2 / 4;
        grid-row: 3;
    }
    
    .pass11{
        height: 150px;
        width: 425px;
        grid-column: 3 / 4;
        grid-row: 3;
    }
    
    .pass12{
        height: 150px;
        width: 425px;
        grid-column: 4 / 4;
        grid-row: 3;
    }
    
    .pass13{
        height: 150px;
        width: 425px;
        grid-column: 1 / 4;
        grid-row: 4;
    }
    
    .pass14{
        height: 150px;
        width: 425px;
        grid-column: 2 / 4;
        grid-row: 4;
    }
    
    .pass15{
        height: 150px;
        width: 425px;
        grid-column: 3 / 4;
        grid-row: 4;
    }
    
    .pass16{
        height: 150px;
        width: 425px;
        grid-column: 4 / 4;
        grid-row: 4;
    }
}
